#chart_div,#chart_div_linguagem,#piechart {
    border:solid 2px;
    border-color: black;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    #piechart,
    #chart_div,
    #chart_div_linguagem{
       max-width: 500px; 
       margin-left: 40px ;    
    }
}
