.form_titulo {
  font-weight: bold;
  font-size: 30px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 20px;
  padding-top: 8px;
  margin-top: 20px;
  margin-bottom:10px;
  text-align: center;
}
