.principal {
  display: grid;
  grid-template-areas:
    "participantes participantes participantes"
    "salarioNivel salarioNivel salarioNivel "
    "salarioPais salarioPais salarioPais"
    "salarioEstado salarioEstado salarioEstado "
    "salarioBrasil salarioBrasil salarioBrasil"
    
    ;    
  gap: 15px;
  width: 1024px;
  margin: 0 auto;
}
.participantes {
  grid-area: participantes;
}
.salario__nivel {
  grid-area: salarioNivel;
}
.salario__estado {
  grid-area: salarioEstado;
}
.salario__pais{
    grid-area: salarioPais;
}
/* .salario__brasil{
    grid-area: salarioBrasil;
} */
