*{
  box-sizing: border-box;
} 
.app{
  background: rgb(245, 242, 242);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 600px){
  .principal{
    width:600px;
    text-align: center;
  }
}